{% extends "ticketmaster/base.html" %}
{% block content %}
	<h4>Agentes:</h4>
	<ul>
		{% for agente in agentes %}
		    <li>
		    {{ agente.agente_email }}, id: {{agente.id}}, tickets: {{ agente.ticket_set }}
		    </li>
		{% endfor %}
	</ul>
	<p>Asignar Tickets:</p>
	<form action="new_ticket" method="post">
		<!-- {% csrf_token %} -->
		<input type="text" placeholder="Numero de tickets" name="num">
		<input type="text" placeholder="Agente id" name="id">
		<input type="submit" value="Asignar">
	</form>
{% endblock %}