{% extends "ticketmaster/base.html" %}
{% block content %}
	<ul>
		<li>
			<form method="post" action="tickets">
				<input type="text" placeholder="email" name="email">
				<input type="password" placeholder="password" name="password">
				<input type="submit" value="Login Agente">
			</form>
		</li>
		<li>
			<form method="post" action="ventas">
				<input type="text" placeholder="email" name="email">
				<input type="password" placeholder="password" name="password">
				<input type="submit" value="Login Supervisor">
			</form>
		</li>
	</ul>
{% endblock %}